.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

.hero-brick-link .text-type__content {
  text-decoration-line: underline;
  text-decoration-color: #d1d5db;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}
